.flex-container {
    display: flex;
    flex-flow: row wrap;
}

section {
    padding: 3rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

/* :nth child selectors - selects elements based on their position as a child in any parent element*/

section:first-child {
    background-color: crimson;
}

section:last-child {
    background-color: steelblue;
}

section:nth-child(2) {
    background-color: tomato;
}

section:nth-child(3) {
    background-color: khaki;
}

section:nth-last-child(3) {
    background-color: lightgreen;
}

section:nth-last-child(2) {
    background-color: lightseagreen;
}

/* The section inside the footer element is both the first child and last child of the parent element. It's also the only section on the page that is an only child. */
section:only-child {
    background-color: whitesmoke;
    color: darkslategray;
}

/* Sectons are content width by default (the text and padding inside), but due to that they do not take up all the space ont he row. Flex gro allows items to grow beyond their content with to take up the extra space when there is space. Default is flex-grow: 0 (no grow), and flex-grow: 1; (yes grow) */

/* by default all flex items are flex-shrink: 1 (shrink on). If items cannot shrink, they become the max content width. */
section {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; */
    /* flex shorthand: grow shrin basis */
    /* flex: 1 1 33%; */
    flex: 1;
}

section:nth-child(3) {
    /* flex-grow: 2; */
    /* this item gets 4 times of the extra remaining space */
}